.submit-button {
  margin-top: 20px;
}

.output {
  padding: 15px;
}

#decrypt-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

label {
  margin-top: 5px;
}

h1 a {
  color: #000;
  text-decoration: none;
}

h1 a:hover {
  color: #000;
  text-decoration: none;
}

.container {
	max-width: 900px;
}
